
#right-box{
    float:right;
    height:100%;
    width:320px;
    border-width: 3px 3px 3px 3px;
    border-color: grey;
    border-style: solid;
    position: relative;
    padding:0;
}

#swiper{
    float:left;
    width: 12px;
    margin-bottom:100%;
    background-color: lightgray;
        
}

.streamBox{
    height: 100px;
    width: 100%;
    border-width: 0px 3px 3px 3px;
    border-color: black;
    border-style: solid;
    float: right;
    position:relative;
}
.streamBox:first-child{
    border-width: 3px 3px 3px 3px;
    border-color: black;
    border-style: solid;
}

.streamBox:hover{
    opacity:.9;

    /*center image*/
}
.logo{
    
    width:auto;
    height:100%;
    float: left;
    position: absolute;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.online{
   background-color:lightgreen; 

}
.offline{
    background-color: grey;
}

.channel-col{
    width:300px;
    float:right;
}
.content{
    position: absolute;
    top:10%;
    right:0;
    width:200px;
    padding: 0;
    text-align: center;
}
.name{
    font-size: 24px;
}
.deletedAccount{
    background-color:lightcoral;
    font-size: 20px;
}


