
.streamBox{
    height: 100px;
    width: 100%;
    border: 3px black solid;
    float: right;
    position:relative;
}

.streamBox:hover{
    height:135px;
}
.streamBox:hover .logo{
    height:10vh;
    top: 10%;

    /*center image*/
}
.logo{
    
    width:auto;
    height:100%;
    float: left;
    position: absolute;
}
div{
}
a{
    color: black;
    text-decoration: none;
}

.online{
   background-color:lightgreen; 

}
.offline{
    background-color: grey;
}

.channel-col{
    width:300px;
    float:right;
}
.content{
    position: absolute;
    top:10%;
    right:0;
    width:200px;
    padding: 0;
    text-align: center;
}
.name{
    font-size: 24px;
}

